.each_compteur {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.each_compteur p{
    margin-top: 0;
}

.each_compteur section{
    padding: 2rem;
}

.buttons_compteurs button{
   margin: 0 0.3rem;
}

.image_compteur{
    width: 450px;
    height: 250px;
}